@import url('https://fonts.googleapis.com/css?family=Parisienne|Philosopher');

:root {
  --main-font-family: 'Philosopher', sans-serif;
  --title-font-family: 'Parisienne', cursive;
}

body {
  background: #ddd;
  margin: 0;
  font-family: var(--main-font-family);
  font-size: 16px;
}

header {
  background-image: url('/images/black-and-white-color-curve.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
  padding: 10px;
}

.logo {
  color: #dddddd;
  font-size: 78px;
  text-shadow: 0px 0px 6px #000000, 1px 1px 18px #eeeeee;
}

.logo.dary {
  position: absolute;
  top: 280px;
  right: 125px;
}

.logo.cabelos {
  position: absolute;
  top: 370px;
  right: 30px;
}

nav {
  position: absolute;
  top: 40px;
  left: 20px;
  border: 1px solid #dddddd;
  overflow: hidden;
  font-family: var(--title-font-family);
  font-size: 24px;
  width: 504.5px;
  transition: background-color 1s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  float: left;
  display: block;
  color: #dddddd;
  text-align: center;
  border-radius: 15px;
  margin: 3px;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  transition: all 500ms;
}

nav li a:hover {
  background-color: rgba(80, 80, 80, 1);
  color: #dddddd;
  text-shadow: 1px 1px 2px #000000;
}

nav li a.active {
  background-color: rgba(220, 220, 220, 1);
  color: #222222;
}

main {
  padding: 0;
  text-align: center;
}

section {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: 'Parisienne', cursive;
}

/* Sticky effect */
.sticky {
  position: fixed;
  top: 0;
}

.sticky + main {
  padding-top: 60px;
}

.black-bg {
  background-color: #222222;
}

footer {
  text-align: center;
}
