@import url('https://fonts.googleapis.com/css?family=Parisienne|Philosopher');

:root {
  --main-font-family: 'Philosopher', sans-serif;
  --title-font-family: 'Parisienne', cursive;
}

body {
  background: #bbc9c9;
  margin: 0;
  font-family: var(--main-font-family);
}

header {
  background-image: url('/images/black-and-white-color-curve.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
  padding: 10px;
}

nav {
  position: absolute;
  top: 40px;
  left: 20px;
  border: 1px solid #dddddd;
  overflow: hidden;
  font-family: var(--title-font-family);
  font-size: 24px;
  width: 474.45px;
  transition: width 1s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  float: left;
  display: block;
  color: #dddddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

nav li a:hover {
  background-color: rgba(180, 180, 180, 0.5);
  color: #dddddd;
}

nav li a.active {
  background-color: rgba(240, 220, 220, 0.5);
  color: #222222;
}

main {
  padding: 16px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

section {
  border: 1px solid black;
}

h1 {
  font-family: 'Parisienne', cursive;
}

/* Sticky effect */
.sticky {
  position: fixed;
  top: 0;
}

.sticky + main {
  padding-top: 60px;
}

footer {
  text-align: center;
}
